<fieldset>
  <input type="text" placeholder="Enter title" [(ngModel)]="currentTask.title">
  <button (click)="addTask()">Add task</button>
</fieldset>

<div>
  <h1>New tasks</h1>
  <ul *ngFor="let task of taskList; let i = index">
    <li>
      <app-task-item [task]="task"
                     (remove)="removeTask($event)"
                     (done)="onDoneChanged($event)"
      ></app-task-item>
    </li>
  </ul>
</div>


<div>
  <h1>Done tasks</h1>
  <ul *ngFor="let task of doneTaskList; let i = index">
    <li>
      <app-task-item [task]="task"
                     (remove)="removeDoneTask($event)"
                     (done)="onDoneChanged($event)"
      ></app-task-item>
    </li>
  </ul>
</div>
